Source: leggero
Section: misc
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Build-Depends: debhelper (>= 12), qt5-qmake, debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/ltworf/leggero#leggero
Rules-Requires-Root: no

Package: leggero
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lilypond
Description: TBD
